{project_plugins, [erlfmt]}.
{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [watercast]}
]}.

{pre_hooks, [{"linux", compile, "cmake --build c_src/icecast/build"}]}.
{post_hooks, [{"linux", clean, "make -C c_src/icecast/build clean"}]}.

{erlfmt, [write]}.
